# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Python virtual environment
venv/
